<div class="uk-width-1-1">
    <ul class="uk-pagination uk-flex-center uk-margin-medium-top">
		
		{% if pagination.prevPage.active %}
			<li class="uk-disabled"><a href="#"><span uk-pagination-previous></span></a></li>
		{% else %}
			<li><a href="{{ pagination.prevPage.href }}"><span uk-pagination-previous></span></a></li>
		{% endif %}
		{% for p in pagination.pages %}		
			{% if p.active %}
			<li class="uk-active">{{ p.text }}</li>
			{% else %}
            <li><a href="{{ p.href }}">{{ p.text }}</a></li>
			{% endif %}
        {% endfor %}
		{% if pagination.nextPage.active %}
			<li class="uk-disabled"><a href="#"><span uk-pagination-next></span></a></li>
		{% else %}
			<li><a href="{{ pagination.nextPage.href }}"><span uk-pagination-next></span></a></li>
		{% endif %}
    </ul>
</div>