{% extends 'default.twig' %}

{% block vars %}
{% endblock %}

{% block default %}

	<h1>{{ page_title }}</h1>
	
{% for m in msgs %}

<div class="uk-alert-{% if m.state == 'ok' %}success{% else %}danger{% endif %}" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>{{ m.text }}</p>
</div>

{% endfor %}	
	
	
	<div class="uk-card uk-card-default uk-card-body uk-margin">
		<h2 class="uk-card-title">{% trans %}Change reply{% endtrans %}</h2>

<form action="{{ current_url }}" method="post" class="uk-form-stacked" enctype="multipart/form-data" id="frmNewTopic"><input type="hidden" value="editTopic" name="action">
<input type="hidden" value="{{ reply.reply_id }}" name="id">
{% if 'ADD_USER_TO_TOPIC' in user_rights or 'ADD_GROUP_TO_TOPIC' in user_rights %}
	<div class="uk-child-width-1-2" uk-grid>
	{% if 'ADD_USER_TO_TOPIC' in user_rights %}
		<div>
			<div class="uk-card uk-card-small">
				<h4 class="uk-card-title">{% trans %}User for this topic{% endtrans %}</h4>
				<p>
				<select id='ex_users' size='5' multiple='multiple' class="js-select2 uk-select uk-width-1-1 " style="width: 75%" name='t_user[]'>
					{% for u in users %}
						<option value='{{ u.user_id }}' {% if u.selected %} selected="selected"{% endif %}>{{ u.user_name }}</option>
					{% endfor %}
				</select>
				</p>
			</div>
		</div>
	{% endif %}	
	{% if 'ADD_GROUP_TO_TOPIC' in user_rights %}	
		<div>
			<div class="uk-card  uk-card-small">
				<h4 class="uk-card-title">{% trans %}Groups for this topic{% endtrans %}</h4>
				<p><select id='ex_groups' class="uk-select js-select2 uk-width-1-1"  style="width: 75%" size='5' multiple='multiple' name='t_group[]'>
		{% for g in groups %}
		<option value='{{ g.group_id }}' {% if u.selected %} selected="selected"{% endif %}>{{ g.group_name }}</option>
		{% endfor %}</select></p>
			</div>
		</div>
	{% endif %}
	</div>
{% endif %}

		
	<div class="uk-margin">
		<label class="uk-form-label" for="newTopicText">{% trans %}Text{% endtrans %} <span class="" uk-icon="question" uk-tooltip="Text rules"></span></label>
		<div class="uk-form-controls">
			<textarea id="newTopicText" class="uk-textarea" name="t_topic" data-validation-length="min{{ config.min_length_topic_text }}">{{ reply.reply_text }}</textarea>
		</div>
	</div>				

	{% if 'CREATE_SHEETS' in user_rights %}
		{% include 'partials/cheatsheet.twig' %}
	{% endif %}
	
	{% if 'CREATE_SHEETS' in user_rights %}
	
		{% for a in reply.sheets %}
		
	<div id="abc{{ a.rm_id }}Check" style="display:none">
		<pre id="abc{{ a.rm_id }}CheckText" class="abcCheckText"></pre>
	</div>
	<div class="uk-margin">
		<label class="uk-form-label" for="abc{{ a.rm_id }}">{% trans %}Add music sheet{% endtrans %} <span class="" uk-icon="question"></span><div uk-dropdown>{% trans %}ABC music info{% endtrans %}</div></label>
		<div class="uk-form-controls">
			<textarea class="uk-textarea" name="old_abc[{{ a.music_id }}]" id="abc{{ a.rm_id }}" cols="80" rows="15">{{ a.music_text }}</textarea>
		</div>
	</div>		

<input type="button" class="uk-button" value="{% trans %}Check syntax{% endtrans %}" onclick="checkAbcSyntax('abc{{ a.rm_id }}')" /><div id="midi{{ a.rm_id }}"></div>
<div id="warnings{{ a.rm_id }}"></div>
<div id="music{{ a.rm_id }}"></div>
<div id="paper0{{ a.rm_id }}"></div>

		{% endfor %}
	{% endif %}
	
	{% if 'CREATE_ATTACHMENTS' in user_rights %}
		{% include 'partials/attachment.twig' %}						
	{% endif %}
	
	{% if 'CREATE_ATTACHMENTS' in user_rights|keys and reply.attachments|length > 0 %}
		{% trans %}Attachments{% endtrans %}
		<div uk-grid>
		{% for a in reply.attachments %}
			<div>
			{% if a.img %}
				<img src="{{ a.img }}" {{ a.img_data }}><br>
			{% endif %}
			{{ a.attachment_filename }} (<a data-aid="{{ a.attachment_id }}" href='actions.php?action=delete_reply&ref=1&aid={{ a.attachment_id }}&id={{ reply.reply_id }}' class="item-attachment">{% trans %}Delete{% endtrans %}</a>)</div>
		{% endfor %}
		</div>
	{% endif %}

	<div class="uk-text-right">
		<input class="uk-button uk-button-primary" type="submit" value="{% trans %}Save{% endtrans %}" name="new_topic" />
	</div>
</form>
</div>

	{% if 'CREATE_SHEETS' in user_rights %}
		<script type="text/javascript">
		window.onload = function() {	
			abc_editor = new ABCJS.Editor("abc", { paper_id: "paper0", midi_id:"midi", warnings_id:"warnings" });
		}		
		</script>
	{% endif %}
	

    <script type="text/javascript">
	window.onload = function() {

		{% if 'CREATE_SHEETS' in user_rights %}
			{% for a in reply.sheets %}
				abc_editor{{ a.rm_id }} = new ABCJS.Editor("abc{{ a.rm_id }}", { paper_id: "paper0{{ a.rm_id }}", midi_id:"midi{{ a.rm_id }}", warnings_id:"warnings{{ a.rm_id }}"});
			{% endfor %}
		{% endif %}
		
			abc_editor = new ABCJS.Editor("abc", { paper_id: "paper0", midi_id:"midi", warnings_id:"warnings" });
		}
		
		
$(".item-attachment").click(function(event) {
  event.preventDefault();
  var el = $(this);
  UIkit.modal.confirm('{% trans %}Do you really want to delete this attachment?{% endtrans %}').then(function() {
		$.get( "actions.php?action=delete_reply&id={{ reply.reply_id }}&aid=" + el.attr('data-aid') )
		  .done(function( response ) {
			var data = JSON.parse(response);
			if ( data.state == 'ok' ) {
				el.closest("div").toggle();
				toastr["success"](data.text, data.title);
			} else {
				toastr["error"](data.text, data.title);
			}
		  });
	}, function () {
	});
});	
		
		</script>
    

{% endblock %}		  

{% block footerInjection %}
	
{% endblock %}	
