{% block vars %}
{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css">
	<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>
	<style>
      body {
        font-family: 'Raleway', sans-serif;
      }
    </style>

	<link href="css/jquery.cluetip.css" rel="stylesheet" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="abcjs_editor_1.7-min.js" type="text/javascript"></script>
	<script src="js/jquery.cluetip.js"></script>
	<script src="js/general.js"></script>	
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
	
	{% block headerInjection %}{% endblock %}
	
</head>

<body>
	<noscript><div class="no-script"><div class="no-script-inner">{{ constant('MODULE_HEADER_TAGS_NOSCRIPT_TEXT') }}</div></div></noscript>
    


    {% block index %}{% endblock %}



	<!-- JS FILES -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
	<script>
		toastr.options = {
		  "closeButton": false,
		  "debug": false,
		  "newestOnTop": false,
		  "progressBar": false,
		  "positionClass": "toast-top-right",
		  "preventDuplicates": false,
		  "onclick": null,
		  "showDuration": "300",
		  "hideDuration": "1000",
		  "timeOut": "5000",
		  "extendedTimeOut": "1000",
		  "showEasing": "swing",
		  "hideEasing": "linear",
		  "showMethod": "fadeIn",
		  "hideMethod": "fadeOut"
		}
		
		{% if 'CREATE_ATTACHMENTS' in user_rights|keys or uploadPath == 'profile' %}
		var bar = document.getElementById('js-progressbar');
		var divImages = document.getElementById('divImages');

		UIkit.upload('.js-upload', {
			
			url: 'upload-images.php?mode={% if uploadPath == 'profile' %}profile{% else %}review{% endif %}',{# We need to check, if it is an attachment for topics or replies or a profile picture #}
			multiple: true,

			complete: function () {
				var data = JSON.parse(arguments[0]['responseText']);
				{% if uploadPath == 'profile' %}
				if ( data.state == 'ok' ) {
					var maxLength = (data.width < data.height) ? data.width : data.height;
					var wile =  '';
					var ratio = 1;
					var selectHeight = data.height;
					var selectWidth = data.width;
					
					if ( selectHeight > {{ constant('IMAGE_CROP_MAX_WIDTH_HEIGHT') }} ) {
						ratio = {{ constant('IMAGE_CROP_MAX_WIDTH_HEIGHT') }}/data.height;
						selectHeight = {{ constant('IMAGE_CROP_MAX_WIDTH_HEIGHT') }};
						selectWidth = selectWidth*ratio;
					}
					
					if ( selectWidth > {{ constant('IMAGE_CROP_MAX_WIDTH_HEIGHT') }} ) {
						ratio = {{ constant('IMAGE_CROP_MAX_WIDTH_HEIGHT') }}/selectWidth;
						selectWidth = {{ constant('IMAGE_CROP_MAX_WIDTH_HEIGHT') }};
						selectHeight = selectHeight*ratio;
					}
					
					$("#profile-image").attr("src",data.filePath + '?timestamp=' + Date.now());
					$("#profile-image-crop").attr("src",data.filePath + '?timestamp=' + Date.now());
					$("#profile-image-crop").attr("width",data.width*ratio);
					$("#profile-image-crop").attr("height",data.height*ratio);
					
					$('#div-image-crop').toggle();
					
					ratio = (selectHeight < selectWidth) ? selectHeight : selectWidth;
					
                    $('#profile-image-crop').imgAreaSelect({ 
						aspectRatio: '1:1', 
						handles: true, 
						x1: 0.1*ratio, 
						y1: 0.1*ratio, 
						x2: 0.9*ratio, 
						y2: 0.9*ratio, 
						onSelectEnd: function (img, selection) { 
							$('input[name="crop-x1"]').val(selection.x1); 
							$('input[name="crop-y1"]').val(selection.y1); 
							$('input[name="crop-x2"]').val(selection.x2); 
							$('input[name="crop-y2"]').val(selection.y2); 
						}                    
                    });
                    
                    
				}
				{% else %}
				if (data.preview) {
					divImages.innerHTML += '<div><img src="' + data.preview + '" width="100"><input type="hidden" name="picture[]" value="' + data.fileId + '"></div>';
				} else {
					divImages.innerHTML += '<div><input type="hidden" name="picture[]" value="' + data.fileId + '">' + data.fileName + '</div>';
				}
				
				{% endif %}
			},

			loadStart: function (e) {
				bar.removeAttribute('hidden');
				bar.max = e.total;
				bar.value = e.loaded;
			},

			progress: function (e) {
				bar.max = e.total;
				bar.value = e.loaded;
			},

			loadEnd: function (e) {
				bar.max = e.total;
				bar.value = e.loaded;
			},

			completeAll: function () {
				setTimeout(function () {
					bar.setAttribute('hidden', 'hidden');
				}, 1000);
			}

		});
		{% endif %}
		

		$.validate({
			lang: '{{ langcode }}',
			modules : 'security',
			  onModulesLoaded : function() {
				var optionalConfig = {
				  fontSize: '12pt',
				  padding: '4px',
				  bad : 'Very bad',
				  weak : 'Weak',
				  good : 'Good',
				  strong : 'Strong'
				};

				$('input[name="t_pass"]').displayPasswordStrength(optionalConfig);
			  }
		});
		
		$(document).ready(function() {
			$('.js-select2').select2();		
		});
		
		function tgldiv(divname){
			$("#"+divname).slideToggle("slow");
		}

	
		</script>
	{% block footerInjection %}{% endblock %}
</body>

</html>