{% extends 'index.twig' %}

{% block headerInjection %}
<link rel="stylesheet" type="text/css" href="css/dashboard.css">
{% endblock %}	

{% block index %}
		<!--HEADER-->
		<header id="top-head" class="uk-position-fixed">
			<div class="uk-container uk-container-expand uk-background-primary">
				<nav class="uk-navbar uk-light" data-uk-navbar="mode:click; duration: 250">
					<div class="uk-navbar-left">
						<div class="uk-navbar-item uk-hidden@m">
							
						</div>
					</div>
					<div class="uk-navbar-right">
						<ul class="uk-navbar-nav">
							<li><a href="user-settings.php" data-uk-icon="icon:user" title="{% trans %}Your profile{% endtrans %}" data-uk-tooltip></a></li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<!--/HEADER-->
		<!-- LEFT BAR -->
		<aside id="left-col" class="uk-light uk-visible@m">
			<div class="left-logo uk-flex uk-flex-middle">
				ELO Dashboard
			</div>
			<div class="left-content-box  content-box-dark">
				{% if user_picture|length %}<img src="images/profile/{{ user_picture }}" alt="" class="uk-border-circle profile-img">{% endif %}
				<h4 class="uk-text-center uk-margin-remove-vertical text-light">{{ user_name }}</h4>
				
				<div class="uk-position-relative uk-text-center uk-display-block">
				    <a href="#" class="uk-text-small uk-text-muted uk-display-block uk-text-center">Admin</a>
				</div>
			</div>
			
			<div class="left-nav-wrap">
				<ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
					<li class="uk-nav-header">ACTIONS</li>
                    {% for navEl in navElements %}
                        {% if navEl.group %}
                            <li class="uk-parent">
                                <a href="#"><span data-uk-icon="icon: {{ navEl.icon }}" class="uk-margin-small-right"></span>{{ navEl.text }}</a>
                                <ul class="uk-nav-sub">
                                    {% for el in navEl.subElements %}
                                        <li class="{% if el.active %}uk-active{% endif %}"><a href="{{ el.href }}">{{ el.text }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>                        
                        {% else %}
                            <li class="{% if navEl.active %}uk-active{% endif %}"><a href="{{ navEl.href }}"><span data-uk-icon="icon: {{ navEl.icon }}" class="uk-margin-small-right"></span>{{ navEl.text }}</a></li>
                        {% endif %}
                    {% endfor %}
				</ul>		
			</div>
			<div class="bar-bottom">
				<ul class="uk-subnav uk-flex uk-flex-center uk-child-width-1-5" data-uk-grid>
					<li>
						<a href="topic.php" class="uk-icon-link" data-uk-icon="icon: home" title="Home" data-uk-tooltip></a>
					</li>
					<li>
						<a href="options.php" class="uk-icon-link" data-uk-icon="icon: settings" title="Settings" data-uk-tooltip></a>
					</li>				
					<li>
						<a href="logout.php" class="uk-icon-link" data-uk-tooltip="Sign out" data-uk-icon="icon: sign-out"></a>
					</li>
				</ul>
			</div>
		</aside>
		<!-- /LEFT BAR -->
		<!-- CONTENT -->
		<div id="content" data-uk-height-viewport="expand: true">
			<div class="uk-container uk-container-expand">
				{% block default %}
				{% endblock %}

				
				<footer class="uk-section uk-section-small uk-text-center">

				</footer>
			</div>
		</div>
		<!-- /CONTENT -->
		
{% endblock %}
{% block footerInjection %}

{% endblock %}		
