{% extends 'layout_dashboard.twig' %}

{% block vars %}
{% endblock %}

{% block default %}

<div id="popup" style="display:none; "><div id="popupclose" onClick="tgldiv('popup');"><strong>X</strong></a></div><div id="popupcontent"></div></div>


<div class="uk-child-width-1-2@m uk-child-width-1-1@s uk-margin-top" uk-grid>
{% if 'CREATE_NEW_USER' in user_rights %}

<div>
	<div class="uk-card uk-card-default uk-card-body">
		<h2 class="uk-card-title">New user</h2>
		<form class="uk-form-stacked" action="{{ current_url }}" method="post">

			<div class="uk-margin">
				<label class="uk-form-label" for="user_name">Name</label>
				<div class="uk-form-controls">
					<input class="uk-input" id="user_name" type="text" name="t_name" placeholder="Name">
				</div>
			</div>
			<div class="uk-margin">
				<label class="uk-form-label" for="user_email">Email</label>
				<div class="uk-form-controls">
					<input class="uk-input" id="user_email" type="text" name="t_email" placeholder="Email">
				</div>
			</div>
			<div class="uk-margin">
				<label class="uk-form-label" for="user_pass">Password</label>
				<div class="uk-form-controls">
						<input class="uk-input" id="user_pass" type="text" name="t_pass" placeholder="Password">
				</div>
				 {{ constant('PANEL_EXAMPLE_PASSWORD') }} <code id="suggestedPassword">{{ exampleCode }}</code> <small><a href="#" id="use-sug-password">Use this password</a></small>
			</div>
			<div class="uk-margin">
				<label class="uk-form-label" for="user_reg_email">Send registration email</label>
				<div class="uk-form-controls">
					<input class="uk-checkbox" id="user_reg_email" type="checkbox" name="t_send_email">
				</div>
			</div>
			<div class="uk-margin">
				<label class="uk-form-label" for="user_lang">Language</label>
				<div class="uk-form-controls">
					<select name="t_lang" class="uk-select" id="user_lang">
		{% for l in langs %}
			<option value="{{ l.lang_id }}">{{ l.lang_name }}</option>
		{% endfor %}
		</select>
				</div>
			</div>
			<div class="uk-text-right">
				<input type="submit" value="Save" name="new_user" class="uk-button uk-button-primary" />
			</div>
		</form>
	</div>
</div>
{% endif %}

{% if 'CREATE_NEW_RIGHT' in user_rights %}

{% if saved_new_right %}
<div id='correct'>Saved the new right.</div>
{% endif %}

<div>
	<div class="uk-card uk-card-default uk-card-body uk-margin">
		<h2 class="uk-card-title">New right</h2>
		<form action="{{ current_url }}" class="uk-form-stacked" method="post">
			<div class="uk-margin">
				<label class="uk-form-label" for="right_name">Name</label>
				<div class="uk-form-controls">
					<input class="uk-input" id="right_name" type="text" name="t_name" placeholder="Name">
				</div>
			</div>
			<div class="uk-margin">
				<label class="uk-form-label" for="right_key">Key</label>
				<div class="uk-form-controls">
					<input class="uk-input" id="right_key" type="text" name="t_key" placeholder="Key">
				</div>
			</div>
			<div class="uk-text-right">
				<input type="submit" value="Save" name="new_right" class="uk-button uk-button-primary" />
			</div>
		</form>
	</div>
</div>
{% endif %}

{{ msg_group }}


{% if 'CREATE_GROUPS' in user_rights %}	
<div>
	<div class="uk-card uk-card-default uk-card-body uk-margin">
		<h2 class="uk-card-title">New Group</h2>
		<form action="{{ current_url }}" class="uk-form-stacked" method="post">
			<div class="uk-margin">
				<label class="uk-form-label" for="group_name">Name</label>
				<div class="uk-form-controls">
					<input class="uk-input" id="group_name" type="text" name="t_group" placeholder="Name">
				</div>
			</div>
			<div class="uk-text-right">
				<input type="submit" value="Save" name="new_group" class="uk-button uk-button-primary" />
			</div>
		</form>
	</div>
</div>
{% endif %}

<div>
	<div class="uk-card uk-card-default uk-card-body uk-margin">
		<h2 class="uk-card-title">Groups</h2>
{% for g in groups %}
	<span><a onclick="javascript:loadGroupData({{ g.group_id }});" id="group-list-{{ g.group_id }}">{{ g.group_name }}</a>
	(<a onclick="javascript:deleteGroup({{ g.group_id }});">Delete</a> | <a onclick="javascript:changeGroupData({{ g.group_id }});">Modify</a>)</span><br>

{% endfor %}
	</div>			
</div>
<div>
	<div class="uk-card uk-card-default uk-card-body uk-margin">
		<h2 class="uk-card-title">Edit users</h2>
		<div class="uk-column-1-2">
			<ul class="uk-list">
			{% for u in users %}
				<li><a onclick="javascript:loadUserData({{ u.user_id }});">{{ u.user_name }}</a></li>
			{% endfor %}
			</ul>
		</div>
</div></div>

</div>
		
<a name="newtopic"></a>

{% for m in msgs %}

<div class="uk-alert-{% if m.state == 'ok' %}success{% else %}danger{% endif %}" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>{{ m.text }}</p>
</div>

{% endfor %}

{% if 'CREATE_TOPICS' in user_rights %}
	{% include 'partials/newtopic.twig' %}						
{% endif %}
	

<div id="edit-user-model" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title" id="modal-headline">Edit User</h2>
        <p>
		
			<form class="uk-form-stacked" action="actions.php" method="post">
				<input type="hidden" name="user_id_c" id="user_id_c" value="">
				<div class="uk-margin">
					<label class="uk-form-label" for="user_name_c">Name</label>
					<div class="uk-form-controls">
						<input class="uk-input" id="t_name_c" type="text" name="t_name_c">
					</div>
				</div>
				<div class="uk-margin">
					<label class="uk-form-label" for="user_email_c">Email</label>
					<div class="uk-form-controls">
						<input class="uk-input" id="user_email_c" type="text" name="t_email_c">
					</div>
				</div>
				<div class="uk-margin">
					<label class="uk-form-label" for="user_pass_c">Password</label>
					<div class="uk-form-controls">
							<input class="uk-input" id="user_pass_c" type="text" name="t_pass_c">
					</div>
					 {{ constant('PANEL_EXAMPLE_PASSWORD') }} <code id="suggestedPassword_existing"></code> <small><a href="#" id="use-sug-password-existing">Use this password</a></small>
				</div>
				<div class="uk-margin">
					<label class="uk-form-label" for="user_lang_c">Language</label>
					<div class="uk-form-controls">
						<select name="t_lang_c" class="uk-select" id="user_lang_c">
						{% for l in langs %}
							<option value="{{ l.lang_id }}">{{ l.lang_name }}</option>
						{% endfor %}
						</select>
					</div>
				</div>
				<div class="uk-text-right">
					<input type="submit" value="Save" name="new_user_c" class="uk-button uk-button-primary" />
				</div>
			</form>
			
			<div class="uk-child-width-1-1" uk-grid>
				<div>

					<table>
						<tr>
							<td>Existing rights:</td>
							<td></td>
							<td>User rights:</td>
						</tr>
						<tr>
							<td>
								<select id='ex_rights_c' size='5' multiple='multiple' class="uk-select">

								</select>
							</td>
							<td>
								<input type="button" value=">>" onClick="javascript:addRight();"><br><input type="button" value="<<" onClick="javascript:removeRight();">
							</td>
							<td>
								<select id='us_rights_c' size='5' multiple='multiple' class="uk-select"></select>
							</td>
						</tr>
					</table>
					
				</div>
				<div>
					<table>
						<tr>
							<td>Existing groups:</td>
							<td></td>
							<td>User groups:</td>
						</tr>
						<tr>
							<td>
								<select id='ex_groups_c' size='5' multiple='multiple' class="uk-select"></select>
							</td>
							<td>
								<input type="button" value=">>" onClick="javascript:addGroup();"><br><input type="button" value="<<" onClick="javascript:removeGroup();">
							</td>
							<td>
								<select id='us_groups_c' size='5' multiple='multiple' class="uk-select"></select>
							</td>				
						</tr>
					</table>
				</div>
			</div>
		
		</p>
    </div>
</div>
	
	
<div id="modal-group-users" uk-modal>
    <div class="uk-modal-dialog">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <div class="uk-modal-header">
            <h2 class="uk-modal-title">User of group <span></span></h2>
        </div>

        <div class="uk-modal-body" uk-overflow-auto>

            <p><select id="users-of-group" size='5' class="uk-select" multiple='multiple'></select></p>
			<p class="uk-text-right"><button class="uk-button uk-button-primary" id="remove-group-user">Remove</button></p>
        </div>

    </div>
</div>
	
{% endblock %}		  

{% block footerInjection %}


<script language="javascript">  

	function deleteGroup(groupId) {
		var el = $(this);
		UIkit.modal.confirm('Confirm deletion').then(function() {
			$.post("actions.php",
			{	  
			  delete_group:groupId,
			  action:'deleteGroup'
			},
			function(data,status){
				if ( data.state == 'ok' ) {
					el.parent().remove();
					toastr["success"]("Group deleted", "Success");
				} else {
					toastr["error"]("Error", "Error");
				}
			});
		}, function () {
			
		});
	}

   	function removeRight() {
		$.post("actions.php",
		{	  
		  userid:$('#user_id_c').val(),
		  action:'removeRight',
		  t_r:$("#us_rights_c").val()
		},
		function(data,status){
			$('#us_rights_c option:selected').each(function(){
				$("<option/>").val($(this).val()).text($(this).text()).prependTo("#ex_rights_c");
				$("#us_rights_c option[value="+$(this).val()+"]").remove();
			});
		});
	}
	function addRight() {
		$.post("actions.php",
		{	  
		  userid:$('#user_id_c').val(),
		  action:'addRight',
		  t_r:$("#ex_rights_c").val()
		},
		function(data,status){
			$('#ex_rights_c option:selected').each(function(){
				$("<option/>").val($(this).val()).text($(this).text()).prependTo("#us_rights_c");
				$("#ex_rights_c option[value="+$(this).val()+"]").remove();
			});
		});
	}
	function removeGroup() {
		$.post("actions.php",
		{	  
		  userid:$('#user_id_c').val(),
		  action:'removeGroup',
		  t_r:$("#us_groups_c").val()
		},
		function(data,status){
			$('#us_groups_c option:selected').each(function(){
				$("<option/>").val($(this).val()).text($(this).text()).prependTo("#ex_groups_c");
				$("#us_groups_c option[value="+$(this).val()+"]").remove();
			});
		});
	}
	function addGroup() {
		$.post("actions.php",
		{	  
		  userid:$('#user_id_c').val(),
		  action:'addGroup',
		  t_r:$("#ex_groups_c").val()
		},
		function(data,status){
			$('#ex_groups_c option:selected').each(function(){
				$("<option/>").val($(this).val()).text($(this).text()).prependTo("#us_groups_c");
				$("#ex_groups_c option[value="+$(this).val()+"]").remove();
			});
		});
	}

	$('#use-sug-password').click(function(e) {
		e.preventDefault();
		$('#user_pass').val($('#suggestedPassword').text());
	});
	
	$('#use-sug-password-existing').click(function(e) {
		e.preventDefault();
		$('#user_pass_c').val($('#suggestedPassword_existing').text());
	});
	
	$('#remove-group-user').click(function() {
		$('#users-of-group option:selected').each(function(){
			var el = $(this);
			$.ajax({
				url: 'actions.php',
				dataType: 'json',
				method: 'POST',
				data: 
				{	  
					guid:$(this).val(),
					action:'removeUserFromGoup',
				},
				success: function(respond){
					if ( respond.state == 'ok' ) {
						$("#users-of-group option[value="+el.val()+"]").remove();
					} else {
						toastr["error"]("Error", "Error");
					}
				}
			});			
		});
	});
	

	function tgldiv(divname){
		$("#"+divname).slideToggle("slow");
	 };
  
	function loadUserData(id) {
		$.ajax({
				url: "actions.php?action=getUser&userid="+id,
				dataType: 'json',
				success: function(respond)
				{
					if ( respond.state == 'ok' ) {
						$('#t_name_c').val(respond.user_data.user_name);
						$('#user_pass_c').val("");
						$('#user_email_c').val(respond.user_data.user_email);
						$("#user_lang_c option[id='" + respond.user_data.lang_id + "']").attr("selected", "selected");
						$('#user_id_c').val(respond.user_data.user_id);
						$('#suggestedPassword_existing').text(respond.exampleCode);
						$('#ex_rights_c').empty();
						$.each(respond.option_right_no,function(key, value) {
							$('#ex_rights_c').append('<option value=' + key + '>' + value + '</option>');
						});
						
						$('#us_rights_c').empty();
						$.each(respond.option_right_yes,function(key, value) {
							$('#us_rights_c').append('<option value=' + key + '>' + value + '</option>');
						});
						
						$('#ex_groups_c').empty();
						$.each(respond.option_group_no,function(key, value) {
							$('#ex_groups_c').append('<option value=' + key + '>' + value + '</option>');
						});
						
						$('#us_groups_c').empty();
						$.each(respond.option_group_yes,function(key, value) {
							$('#us_groups_c').append('<option value=' + key + '>' + value + '</option>');
						});
						
						//$('#modal-body').html(respond);
						UIkit.modal($('#edit-user-model')).show();
					} else {
						toastr["error"]("Error", "Error");
					}
				}
		});
	}
  
  function loadGroupData(id) {
	  $.ajax({
				url: "actions.php?action=getGroupUser&group_id="+id,
				dataType: 'json',
				success: function(respond)
				{
					if ( respond.state == 'ok' ) {
						$('#users-of-group').empty();
						$.each(respond.users,function(key, value) {
							$('#users-of-group').append('<option value=' + key + '>' + value + '</option>');
						});
						UIkit.modal($('#modal-group-users')).show();
					} else {
						toastr["error"](respond.text, respond.title);
					}
				}
		});
  }
  
  function changeGroupData(id) {
	var el = $(this);
	var ael = $('#group-list-' + id);
	UIkit.modal.prompt('Group:', ael.text()).then(function (name) {
		if ( name ) {
			var strName = name;
			$.ajax({
				url: 'actions.php',
				dataType: 'json',
				method: 'POST',
				data: 
				{	  
				  guid: id,
				  action: 'changeGoup',
				  t_name: strName
				},
				success: function(respond){
					if ( respond.state == 'ok' ) {
						ael.text(strName);
						toastr["success"]("Group modified", "Success");
					} else {
						toastr["error"]("Error", "Error");
					}
				}
			});
		}
	});

  }
  

	function selectAllOptions(selStr)
	{
	  var selObj = document.getElementById(selStr);
	  for (var i=0; i<selObj.options.length; i++) {
		selObj.options[i].selected = true;
	  }
	}
	
	$("#frmNewTopic").submit(function(e){
        e.preventDefault();
		$.ajax({
			url: 'actions.php',
			dataType: 'json',
			method: 'POST',
			data: $('#frmNewTopic').serialize(),
			success: function(respond){
				if ( respond.state == 'ok' ) {
					$("#submitTopic").closest('form').find("input[type=text], textarea").val("");
					toastr["success"]("Successfully posted", "Success");
				} else {
					toastr["error"]("Error", "Error");
				}
			}
		});		  
  
  });
	
</script>

	{% if 'CREATE_SHEETS' in user_rights %}
		<script type="text/javascript">
			window.onload = function() {	
				abc_editor = new ABCJS.Editor("abc", { paper_id: "paper0", midi_id:"midi", warnings_id:"warnings" });
			}
		</script>
	{% endif %}
			
{% endblock %}	
