{% extends 'default.twig' %}
{% import 'macros/images.twig' as img %}
{% block vars %}
{% endblock %}

{% block default %}

	<div uk-grid class="uk-child-width-1-2">
		<div><h1><span id="topicTitle">{{ page_title }}</span> <a href="" uk-icon="icon: file-edit" id="editTopicTitle"></a></h1></div>
		{% if 'IS_ADMIN' in user_rights %}<div class="uk-text-right"><a href="" uk-icon="icon: trash" id="deleteTopic"></a></div>{% endif %}
	</div>
	
	{% if 'IS_ADMIN' in user_rights %}
		<div class="uk-child-width-1-2@s" uk-grid>		
			<div>
				<div class="uk-card uk-card-default uk-card-primary uk-card-small uk-card-body">
					<h4 class="uk-card-title">{% trans %}Users of this topic:{% endtrans %}</h4>
					<p>{% if ar_user_see_topic|length %}{{ ar_user_see_topic|join(', ', ' and ') }}{% else %}{% trans %}No users.{% endtrans %}{% endif %}</p>
				</div>
			</div>
		
			<div>
				<div class="uk-card uk-card-default uk-card-primary uk-card-small uk-card-body">
					<h4 class="uk-card-title">{% trans %}Groups of this topic:{% endtrans %}</h4>
					<p>{% if ar_group_see_topic|length %}{{ ar_group_see_topic|join(', ', ' and ') }}{% else %}{% trans %}No groups.{% endtrans %}{% endif %}</p>
				</div>
			</div>	
	</div>
	{% endif %}	

	<ul class="uk-comment-list uk-margin-top">
	{% for reply in replies %}
		<li class="uk-margin">
			<article class="uk-card-default uk-padding uk-comment uk-visible-toggle" tabindex="-1">
				<header class="uk-comment-header uk-position-relative">
					<div class="uk-grid-medium uk-flex-middle" uk-grid>
						<div class="uk-width-auto">
							{{ img.userGraphic(reply.user_picture, 80, 'uk-comment-avatar') }}
						</div>
						<div class="uk-width-expand">
							<h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{ reply.user_name }}</a></h4>
							<p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">{{ reply.reply_date|date(conf.date_format) }}</a>
							</p>
						</div>
					</div>
					<div class="uk-position-top-right uk-position-small uk-hidden-hover">
						{% if reply.can_edit %}
							<a class="uk-link-muted" href='edit_reply.php?id={{ reply.reply_id }}'>{% trans %}Edit{% endtrans %}</a> | <a href='actions.php?action=delete_reply&ref=1&id={{ reply.reply_id }}' data-id="{{ reply.reply_id }}" class="uk-link-muted reply-delete">{% trans %}Delete{% endtrans %}</a>
						{% endif %}
					</div>
				</header>
				<div class="uk-comment-body">
					<p>
						{{ reply.reply_text|raw }}
	
						{% if reply.sheets|length > 0 %}
                        {# Todo: Check how this looks with multiple sheets #}
							<hr>
							{% for a in reply.sheets %}
								{% if a.img %}
									<div><img src="{{ a.img }}" {{ a.img_data }}></div>
								{% else %}
									<div style="display:none"><textarea name="abc{{ a.rm_id }}" id="abc{{ a.rm_id }}" cols="80" rows="15">{{ a.music_text }}</textarea></div>
									<div id="midi{{ a.rm_id }}"></div><div id="paper0{{ a.rm_id }}"></div><div id="music{{ a.rm_id }}"></div>
								{% endif %}
								{% trans %}Downloads{% endtrans %} <a href="download.php?type=abc&mid={{ a.music_id }}">ABC</a> | <a href="download.php?type=pdf&mid={{ a.music_id }}">PDF</a> | <a href="download.php?type=midi&mid={{ a.music_id }}">MIDI</a>
							{% endfor %}
						{% endif %}
					
						{% if reply.attachments|length > 0 %}
							<hr><strong>{% trans %}Attachments{% endtrans %}</strong><br>
							<div uk-grid>
							{% for a in reply.attachments %}
								<div>
								{% if a.img %}
									<img src="{{ a.img }}" {{ a.img_data }}><br>
								{% endif %}
								{{ a.attachment_filename }} (<a href='download.php?aid={{ a.attachment_id }}'>{% trans %}Download{% endtrans %}</a>, {{ a.filesize }})</div>
							{% endfor %}
							</div>
						{% endif %}
					</p>
				</div>
			</article>
		</li>
	
	{% endfor %}
	</ul>

    {% if 'CAN_REPLY' in user_rights %}
	<div id="newReplyRespond{{ topicid }}" style="display:none; "></div>
	
	<div class="uk-card uk-card-default uk-card-body uk-margin" id="newReply{{ topicid }}">
		<h3>{% trans %}Reply to this topic{% endtrans %} <span class="" uk-icon="question"></span><div uk-dropdown>{% trans %}Text rules:{% endtrans %}</div></h3>
		
        <form action="addreply.php" method="post" enctype="multipart/form-data">
            <input type="hidden" value="{{ topicid }}" name="id">
            <div class="uk-margin">
                <label class="uk-form-label" for="newReplyText{{ topicid }}">{% trans %}Text{% endtrans %} <span class="" uk-icon="question"></span><div uk-dropdown>{% trans %}Text rules:{% endtrans %}</div></label>
                <div class="uk-form-controls">
                    <textarea id="newReplyText{{ topicid }}" class="uk-textarea" name="text"></textarea>
                </div>
            </div>	
            
            {% if 'CREATE_SHEETS' in user_rights %}
                {% include 'partials/cheatsheet.twig' %}
            {% endif %}

            {% if 'CREATE_ATTACHMENTS' in user_rights %}
                {% include 'partials/attachment.twig' %}						
            {% endif %}
                            
            <div class="uk-text-right"><input type="submit" class="uk-button uk-button-primary" value="{% trans %}Save{% endtrans %}"></div>

        </form>
	
	</div>
    {% endif %}



{% endblock %}		  

{% block footerInjection %}
	<script type="text/javascript">
	window.onload = function() {
		{% for reply in replies %}
			{% for a in reply.sheets %}
				abc_editor{{ a.rm_id }} = new ABCJS.Editor("abc{{ a.rm_id }}", { paper_id: "paper0{{ a.rm_id }}"});
			{% endfor %}
		{% endfor %}
		{% if 'CREATE_SHEETS' in user_rights %}
			abc_editor = new ABCJS.Editor("abc", { paper_id: "paper0", midi_id:"midi", warnings_id:"warnings" });
		{% endif %}
	}


$("#editTopicTitle").click(function(event) {
  event.preventDefault();
  var el = $(this);
  UIkit.modal.prompt('{% trans %}Change the topic title:{% endtrans %}', $('#topicTitle').text()).then(function(name) {
		if ( name ) {
			$.ajax({
				url: 'actions.php',
				dataType: 'json',
				method: 'POST',
				data: {
					action: 'updateTopicTitle',
					t_topic_title: name,
					topicid: {{ topicid }}
				},
				success: function(respond){
					if ( respond.state == 'ok' ) {
						$('#topicTitle').text(name);
						toastr["success"](respond.text, respond.title);
					} else {
						toastr["error"](respond.text, respond.title);
					}
				}
			});	
		}
	});
});
	
{% if 'IS_ADMIN' in user_rights %}	
$("#deleteTopic").click(function(event) {
  event.preventDefault();
  var el = $(this);
  UIkit.modal.confirm('{% trans %}Do you really want to delete the whole topic?{% endtrans %}').then(function() {
		$.get( "actions.php?action=deleteTopic&id={{ topicid }}" )
		  .done(function( data ) {
			if ( data.status == 'ok' ) {
				window.location.replace("topic.php");
				toastr["success"](data.text, data.title);
			} else {
				toastr["error"](data.text, data.title);
			}
		  });
	}, function () {
	});
});	
{% endif %}
	
$(".reply-delete").click(function(event) {
  event.preventDefault();
  var el = $(this);
  UIkit.modal.confirm('{% trans %}Do you really want to delete this reply?{% endtrans %}').then(function() {
		$.get( "actions.php?action=delete_reply&id=" + el.attr('data-id') )
		  .done(function( data ) {
			if ( data.status == 'ok' ) {
				el.closest("li").toggle();
				toastr["success"](data.text, data.title);
			} else {
				toastr["error"](data.text, data.title);
			}
		  });
	}, function () {
	});
});	
	

	</script>		
{% endblock %}	
