{% extends 'default.twig' %}
{% import 'macros/images.twig' as img %}
{% block vars %}
{% endblock %}

{% block default %}

	<h1>{{ page_title }}</h1>
	
	{% if 'IS_ADMIN' in user_rights|keys %}
		<div class="uk-child-width-1-2@s" uk-grid>		
			<div>
				<div class="uk-card uk-card-default uk-card-primary uk-card-small uk-card-body">
					<h4 class="uk-card-title">{{ constant('TOPIC_USER_OF_TOPIC') }}</h4>
					<p>{% if ar_user_see_topic|length %}{{ ar_user_see_topic|join(', ', ' and ') }}{% else %}No users.{% endif %}</p>
				</div>
			</div>
		
			<div>
				<div class="uk-card uk-card-default uk-card-primary uk-card-small uk-card-body">
					<h4 class="uk-card-title">{{ constant('TOPIC_GROUP_OF_TOPIC') }}</h4>
					<p>{% if ar_group_see_topic|length %}{{ ar_group_see_topic|join(', ', ' and ') }}{% else %}No groups.{% endif %}</p>
				</div>
			</div>	
	</div>
	{% endif %}	

	<ul class="uk-comment-list uk-margin-top">
	{% for reply in replies %}
		<li class="uk-margin">
			<article class="uk-card-default uk-padding uk-comment uk-visible-toggle" tabindex="-1">
				<header class="uk-comment-header uk-position-relative">
					<div class="uk-grid-medium uk-flex-middle" uk-grid>
						<div class="uk-width-auto">
							{{ img.userGraphic(reply.user_picture, 80, 'uk-comment-avatar') }}
						</div>
						<div class="uk-width-expand">
							<h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{ reply.user_name }}</a></h4>
							<p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">{{ reply.reply_date|date(conf.date_format) }}</a>
							</p>
						</div>
					</div>
					<div class="uk-position-top-right uk-position-small uk-hidden-hover">
						{% if reply.can_edit %}
							<a class="uk-link-muted" href='edit_reply.php?id={{ reply.reply_id }}'>{{ constant('TOPIC_EDIT') }}</a> | <a href='actions.php?action=delete_reply&ref=1&id={{ reply.reply_id }}' data-id="{{ reply.reply_id }}" class="uk-link-muted reply-delete">{{ constant('TOPIC_DELETE') }}</a>
						{% endif %}
					</div>
				</header>
				<div class="uk-comment-body">
					<p>
						{{ reply.reply_text|raw }}
	
						{% if reply.sheets|length > 0 %}
                        {# Todo: This should be a grid with panels #}
							<hr>
							{% for s in reply.sheets %}
								{% if s.img %}
									<div><img src="{{ s.img }}" {{ a.img_data }}></div>
								{% else %}
									<div style="display:none"><textarea name="abc{{ a.rm_id }}" id="abc{{ a.rm_id }}" cols="80" rows="15">{{ a.music_text }}</textarea></div>
									<div id="midi{{ a.rm_id }}"></div><div id="paper0{{ a.rm_id }}"></div><div id="music{{ a.rm_id }}"></div>
								{% endif %}
								{{ constant('TOPIC_TEXT_DOWNLOADS') }}: <a href="download.php?type=abc&mid={{ a.music_id }}">ABC</a> | <a href="download.php?type=pdf&mid={{ a.music_id }}">PDF</a> | <a href="download.php?type=midi&mid={{ a.music_id }}">MIDI</a>
							{% endfor %}
						{% endif %}
					
						{% if reply.attachments|length > 0 %}
                            {# Todo: This should be a grid with panels #}
							<hr><strong>{{ constant('TOPIC_TEXT_ATTACHMENTS') }}:</strong><br>
							{% for a in reply.attachments %}
								{% if a.img %}
									<img src="{{ a.img }}" {{ a.img_data }}><br>
								{% endif %}
								{{ a.attachment_filename }} (<a href='download.php?aid={{ a.attachment_id }}'>{{ constant('TOPIC_TEXT_DOWNLOAD') }}</a>, {{ a.filesize }})<br>
							{% endfor %}
						{% endif %}
					</p>
				</div>
			</article>
		</li>
	
	{% endfor %}
	</ul>

    {% if 'CAN_REPLY' in user_rights|keys %}
	<div id="newReplyRespond{{ topicid }}" style="display:none; "></div>
	
	<div class="uk-card uk-card-default uk-card-body uk-margin" id="newReply{{ topicid }}">
		<h3>{{ constant('TOPIC_TEXT_REPLY_TEXT') }} <a rel="faq.php?fid=4" href="faq.php?fid=4" class="jt" title="{{ constant('TOPIC_TEXT_RULES') }}"><small>?</small></a></h3>
		
        <form action="addreply.php" method="post" enctype="multipart/form-data">
            <input type="hidden" value="{{ topicid }}" name="id">
            <div class="uk-margin">
                <label class="uk-form-label" for="newReplyText{{ topicid }}">{{ constant('TOPIC_TEXT_TOPIC_TEXT') }} <a rel="faq.php?fid=1&width=475" href="faq.php?fid=1&width=475" class="jt" title="{{ constant('TOPIC_TEXT_RULES') }}">?</a></label>
                <div class="uk-form-controls">
                    <textarea id="newReplyText{{ topicid }}" class="uk-textarea" name="text"></textarea>
                </div>
            </div>	
            
            {% if 'CREATE_SHEETS' in user_rights|keys %}
                {% include 'partials/cheatsheet.twig' %}
            {% endif %}

            {% if 'CREATE_ATTACHMENTS' in user_rights|keys %}
                {% include 'partials/attachment.twig' %}						
            {% endif %}
                            
            <div class="uk-text-right"><input type="submit" class="uk-button uk-button-primary" value="{{ constant('TOPIC_TEXT_SAVE') }}"></div>

        </form>
	
	</div>
    {% endif %}



{% endblock %}		  

{% block footerInjection %}
	<script type="text/javascript">
	window.onload = function() {
		{% for reply in replies %}
			{% for a in reply.sheets %}

				if ( !in_array($a['rm_id'],$musicsheets))
					echo 'abc_editor'.$a['rm_id'].' = new ABCJS.Editor("abc'.$a['rm_id'].'", { paper_id: "paper0'.$a['rm_id'].'"});';
			{% endfor %}
		{% endfor %}
		{% if 'CREATE_SHEETS' in user_rights|keys %}
	
			abc_editor = new ABCJS.Editor("abc", { paper_id: "paper0", midi_id:"midi", warnings_id:"warnings" });
		{% endif %}
	}
	$(document).ready(function() {
		$('a.jt').cluetip({
		  cluetipClass: 'jtip',
		  width: 350,
		  arrows: true,
		  dropShadow: false,
		  hoverIntent: false,
		  sticky: true,
		  mouseOutClose: true,
		  closePosition: 'title',
		  closeText: '<img src="includes/images/cross.png" alt="close" />'
		});
	});
	
$(".reply-delete").click(function(event) {
  event.preventDefault();
  var el = $(this);
  UIkit.modal.confirm('Do you really want to delete this reply?').then(function() {
		$.get( "actions.php?action=delete_reply&id=" + el.attr('data-id') )
		  .done(function( data ) {
			if ( data.status == 'ok' ) {
				el.closest("li").toggle();
				toastr["success"](data.text, data.title);
			} else {
				toastr["error"](data.text, data.title);
			}
		  });
	}, function () {
	});
});	
	

	</script>		
{% endblock %}	
