{% extends 'default.twig' %}

{% block vars %}
{% endblock %}

{% block default %}

<div id="popup" style="display:none; ">
	<div id="popupclose" onClick="tgldiv('popup');"><strong>X</strong></div>
	<div id="popupcontent"></div>
</div>
<div id="board_messages" style="display: none;"></div>

	
	<div><br>{{ constant('TOPIC_TEXT_HELLO') }} <strong>{{ user_name }}</strong>{{ constant('TOPIC_TEXT_WELCOME') }}</div>
	<hr>
	<div id="placeholder" style="display:none;border:thin;border-style:dashed;padding:10px"></div>
	


	{% if 'CREATE_TOPICS' in user_rights|keys %}

    <div id="newTopicRespond" style="display:none; "></div>
	

    <div id="createNewTopic" class="uk-margin">
		<div>
			<input class="uk-button uk-button-primary uk-margin-bottom" type="button" id="btnCreateTopic" value="{{ constant('TOPIC_TEXT_NEW_TOPIC') }}">
		</div>
		<div id="newTopic2" style="display:none">
		
			<div class="uk-card uk-card-default uk-card-body uk-margin">
			
				<h3>{{ constant('TOPIC_TEXT_NEW_TOPIC') }} <a rel="faq.php?fid=4" href="faq.php?fid=4" class="jt" title="{{ constant('TOPIC_TEXT_RULES') }}"><small>?</small></a></h3>
				<div id="newTopic">
					<form action="newtopic.php" method="post" enctype="multipart/form-data" class="uk-form-stacked">
					
						<div class="uk-margin">
							<label class="uk-form-label" for="form-topic-1">{{ constant('TOPIC_TEXT_TOPIC_TITLE') }}</label>
							<div class="uk-form-controls">
								<input class="uk-input" id="form-topic-1" type="text" name="t_topic_title" placeholder="Some text...">
							</div>
						</div>
						
						<div class="uk-margin">
							<label class="uk-form-label" for="newTopicText">{{ constant('TOPIC_TEXT_TOPIC_TEXT') }} <a rel="faq.php?fid=1&width=475" href="faq.php?fid=1&width=475" class="jt" title="{{ constant('TOPIC_TEXT_RULES') }}">?</a></label>
							<div class="uk-form-controls">
								<textarea id="newTopicText" class="uk-textarea" name="t_topic"></textarea>
							</div>
						</div>

						{% if 'CREATE_SHEETS' in user_rights|keys %}
							{% include 'partials/cheatsheet.twig' %}
						{% endif %}
		
						{% if 'CREATE_ATTACHMENTS' in user_rights|keys %}
							<div class="uk-margin">
								<label class="uk-form-label" for="form-topic-3">{{ constant('TOPIC_TEXT_ATTACHMENTS') }} <a rel="faq.php?fid=2&width=475" href="faq.php?fid=2&width=475" class="jt" title="{{ constant('TOPIC_TEXT_RULES_ATTACHMENT') }}">?</a></label>
								<div class="uk-form-controls">
									<input type="file" name="t_file" id="form-topic-3">
								</div>
							</div>					
							<div class="uk-text-right"><input type="submit" class="uk-button uk-button-primary" value="{{ constant('TOPIC_TEXT_SAVE') }}">
						{% else %}
							<div class="uk-text-right"><input type="button" class="uk-button uk-button-primary" value="{{ constant('TOPIC_TEXT_SAVE') }}" onclick="javascript:addTopic();"></div>
						{% endif %}

					</form>
				</div>
			</div>
		</div>
		{% if 'CREATE_SHEETS' in user_rights|keys %}
			<script type="text/javascript">
		window.onload = function() {	
			abc_editor = new ABCJS.Editor("abc", { paper_id: "paper0", midi_id:"midi", warnings_id:"warnings" });
		}
		</script>
	{% endif %}
	<br id="brplace">
	
	</div>

{% endif %}
	

<div class="uk-width-1-1" uk-grid>

{% for topic in topics %}
	<div class="uk-width-1-2">
		<div class="uk-card uk-card-default">
			<div class="uk-card-header">

						<h3 class="uk-card-title uk-margin-remove-bottom">{{ topic.topic_title }}</h3>
						<p class="uk-text-meta uk-margin-remove-top"><time datetime="{{ topic.reply_date|date("YYYY-MM-DD HH:MM:SS") }}">{{ topic.reply_date|date(conf.date_format) }}</time></p>

			</div>
			<div class="uk-card-footer">
				<p class="uk-text-meta uk-margin-remove-top">{{ topic.no }} {{ constant('TOPIC_TEXT_TOPIC_ANSWERS') }} | {{ constant('TOPIC_TEXT_TOPIC_CREATED') }} {{ topic.reply_date|date(conf.date_format) }} {{ constant('TOPIC_TEXT_TOPIC_BY') }} {{ topic.username }}
					{% if topic.reply_date != topic.last_reply_date %}
						 | {{ constant('TOPIC_TEXT_TOPIC_LAST_RESPONSE') }} : {{ topic.last_reply_date|date(conf.date_format) }}
						{% endif %} | <a href="{{ topic.href }}">View</a></p>
			</div>
		</div>
	</div>
{% endfor %}

</div>


<div id="postswrapper">
   <div class="item"></div>
   <div id="loadmoreajaxloader" style="display:none;"><center><img src="ajax-loader.gif" /></center></div>
</div>
			
{% endblock %}		  

{% block headerInjection %}


	<script type="text/javascript">

$(document).ready(function(){
  $("#btnCreateTopic").click(function(){
    //$("#createNewTopic").toggle();
	$("#newTopic2").toggle();
	$(this).toggle();
  });
});	
	  
		function tgldiv(divname){
			$("#"+divname).slideToggle("slow");
		}
  
		function tgldivnow(divname){
			$("#"+divname).hide();
		}
  
	function addReply(topicid){
		var t;
		t = $("#newReplyText"+topicid).val();
		if ( t.length < 1 ) {
			$("#newReplyText"+topicid).css('background-color','#F96');
			$("#newReplyText"+topicid).focus();
			return;
		}
		{% if 'CREATE_SHEETS' in user_rights|keys %}
		t2 = $("#abc").val();
		{% endif %}

		$.post("addReply.php",
		{
			{% if 'CREATE_SHEETS' in user_rights|keys %}
			abc:t2,
			{% endif %}
		  
		  id:topicid,
		  text:t,
		  noref:1
		},
		function(data,status){
			$("#newReplyRespond"+topicid).slideToggle("slow");
			$("#newReply"+topicid).slideToggle("slow");
			$("#newReplyRespond"+topicid).text(data);
		});
	}
  
  {% if 'CREATE_TOPICS' in user_rights|keys %}
  function addTopic(){
	var t;
	var t2;

		t = $("#newTopicText").val();
		t2 = $("#t_topic_title").val();
		if ( t.length < 1 ) {
			$("#newTopicText").css('background-color','#F96');
			$("#newTopicText").focus();
			return;
		}
		if ( t2.length < 1 ) {
			$("#t_topic_title").css('background-color','#F96');
			$("#t_topic_title").focus();
			return;
		}
		{% if 'CREATE_SHEETS' in user_rights|keys %}
			t3 = $("#abc").val();
		{% endif %}
		
		$.post("newTopic.php",
		{
			{% if 'CREATE_SHEETS' in user_rights|keys %}
				abc:t3,
			{% endif %}
			
		  t_topic:t,
		  t_topic_title:t2,
		  noref:1
		},
		function(data,status){
			$("#brplace").after(data);
			$("#createNewTopic").show();
			$("#newTopic").hide();
		});
  }
  {% endif %}
  var start = 10;
  var stopscrol = 0;
  $(window).scroll(function()
	{
		if ( stopscrol == 0 )
		{
			if($(window).scrollTop() == $(document).height() - $(window).height())
			{
				$('div#loadmoreajaxloader').show();
				$.ajax({
					url: "loadtopic.php?start="+start,
					success: function(html)
					{
						if(html) 
						{
							$("#postswrapper").append(html);
							$('div#loadmoreajaxloader').hide();
							start = start + 10;
						} else {
							stopscrol = 1;
							$("#postswrapper").append('<div style="border:thin;border-style:dashed;align:center;border-right:none;border-left:none;border-bottom:none"><center>NO_MORE_POSTS</center></div>');
							$('div#loadmoreajaxloader').hide();
							//$('div#loadmoreajaxloader').html('<center>No more posts to show.</center>');
						}
					}
				});
			}
		}
	
	});
		  
	$(document).ready(function() {
		$('a.jt').cluetip({
		  cluetipClass: 'jtip',
		  width: 350,
		  arrows: true,
		  dropShadow: false,
		  hoverIntent: false,
		  sticky: true,
		  mouseOutClose: true,
		  closePosition: 'title',
		  closeText: '<img src="includes/images/cross.png" alt="close" />'
		});
	});
	


  </script>

			
{% endblock %}	
