{% extends 'default.twig' %}

{% block vars %}
{% endblock %}

{% block default %}

<div id="popup" style="display:none; "><div id="popupclose" onClick="tgldiv('popup');"><strong>X</strong></div><div id="popupcontent"></div></div>
<div id="board_messages" style="display: none;"></div>

	
	<div><br>{{ constant('TOPIC_TEXT_HELLO') }} <strong>{{ user_name }}</strong>{{ constant('TOPIC_TEXT_WELCOME') }}></div>
	<hr>
	<div id="placeholder" style="display:none;border:thin;border-style:dashed;padding:10px"></div>
	


	{% if 'CREATE_TOPICS' in user_rights|keys %}

    <div id="newTopicRespond" style="display:none; "></div>
    <div id="createNewTopic" class="uk-margin"><div><input class="uk-button uk-button-primary" type="button" onClick="javascript:tgldivnow('createNewTopic');javascript:tgldiv('newTopic2');" value="{{ constant('TOPIC_TEXT_NEW_TOPIC') }}"></div>
    <div id="newTopic2" style="display:none"><div id="panel-header">{{ constant('TOPIC_TEXT_NEW_TOPIC') }}</div>
    <div id="newTopic" style="margin-left:20px; margin-right:20px;border:thin;border-style:dashed;padding: 10px;"><form action="newtopic.php" method="post" enctype="multipart/form-data">{{ constant('TOPIC_TEXT_TOPIC_TITLE') }}:<br>
<input type="text" id="t_topic_title" name="t_topic_title"><br>
{{ constant('TOPIC_TEXT_TOPIC_TEXT') }}:<br>
<div style="float:left"><textarea id="newTopicText" rows="10" name="t_topic" cols="50"></textarea></div><div style="float:left"><span class="formInfo"><a rel="faq.php?fid=1&width=475" href="faq.php?fid=1&width=475" class="jt" title="{{ constant('TOPIC_TEXT_RULES') }}">?</a></span></div><div style="clear:both"></div>

    {% if 'CREATE_SHEETS' in user_rights|keys %}
		{% include 'partials/cheatsheet.twig' %}
	{% endif %}
	{% if 'CREATE_ATTACHMENTS' in user_rights|keys %}
		TOPIC_TEXT_ATTACHMENTS:<br><input type="file" name="t_file"><span class="formInfo"><a href="faq.php?fid=2&width=475" rel="faq.php?fid=2&width=475" class="jt" title="'.TOPIC_TEXT_RULES_ATTACHMENT.'">?</a></span><br><div style="float:left"><input type="submit" value="'.TOPIC_TEXT_SAVE.'"></div>
	{% else %}
		<div style="float:left"><input type="button" value="'.TOPIC_TEXT_SAVE.'" onclick="javascript:addTopic();"></div>
	{% endif %}
	<div style="float:left"><span class="formInfo"><a rel="faq.php?fid=4" href="faq.php?fid=4" class="jt" title="{{ constant('TOPIC_TEXT_RULES') }}">?</a></span></div><div style="clear:both"></div></form><br></div></div>
	{% if 'CREATE_SHEETS' in user_rights|keys %}
		<script type="text/javascript">
	window.onload = function() {	
		abc_editor = new ABCJS.Editor("abc", { paper_id: "paper0", midi_id:"midi", warnings_id:"warnings" });
	}
	</script>
	{% endif %}<br id="brplace">

{% endif %}
	

<div class="uk-width-1-1" uk-grid>

{% for topic in topics %}
	<div class="uk-width-1-2">
		<div class="uk-card uk-card-default">
			<div class="uk-card-header">

						<h3 class="uk-card-title uk-margin-remove-bottom">{{ topic.topic_title }}</h3>
						<p class="uk-text-meta uk-margin-remove-top"><time datetime="{{ topic.reply_date|date("YYYY-MM-DD HH:MM:SS") }}">{{ topic.reply_date|date("d.m.Y") }}</time></p>

			</div>
			<div class="uk-card-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
			</div>
			<div class="uk-card-footer">
				<p class="uk-text-meta uk-margin-remove-top">{{ topic.no }} {{ constant('TOPIC_TEXT_TOPIC_ANSWERS') }} | {{ constant('TOPIC_TEXT_TOPIC_CREATED') }} {{ topic.reply_date|date("d.m.Y") }}$conf['date_format'] {{ constant('TOPIC_TEXT_TOPIC_BY') }} {{ topic.username }}
					{% if topic.reply_date != topic.last_reply_date %}
						 | {{ constant('TOPIC_TEXT_TOPIC_LAST_RESPONSE') }} : {{ topic.last_reply_date|date("d.m.Y, H:i") }}
						{% endif %} | <a href="{{ topic.href }}">View</a></p>
			</div>
		</div>
	</div>
{% endfor %}

</div>


<div id="postswrapper">
   <div class="item"></div>
   <div id="loadmoreajaxloader" style="display:none;"><center><img src="ajax-loader.gif" /></center></div>
</div>
			
{% endblock %}		  

{% block footerInjection %}

<link href="css/jquery.cluetip.css" rel="stylesheet" type="text/css" />
<script src="jquery.min.js"></script>
<script src="abcjs_editor_1.7-min.js" type="text/javascript"></script>
<script src="js/jquery.cluetip.js"></script>
<script src="js/general.js"></script>
	<script type="text/javascript">

  function getIdText(itemid,dbid){
	  
	$(document).ready(function(){
    	eval($("#div"+itemid).load("getIdText.php?dbid="+dbid+"&itemid="+itemid));
		$("#div"+itemid).slideToggle("slow");
	  });
  };
  
  function getRevs(itemid,langid){
	  
	$(document).ready(function(){
   		eval($("#divrevs"+itemid).load("getRevs.php?id="+langid));
		$("#divrevs"+itemid).slideToggle("slow");
	  });
  };
  
  function addrevs(itemid){
	  
	$(document).ready(function(){
		$("#divaddrevs"+itemid).slideToggle("slow");
	  });
  };
  
  function tgldiv(divname){
	$(document).ready(function(){
		$("#"+divname).slideToggle("slow");
	  });
  };
  
  function tgldivnow(divname){
	$(document).ready(function(){
		$("#"+divname).hide();
	  });
  };
  
  function addReply(topicid){
	var t;
	$(document).ready(function(){
		t = $("#newReplyText"+topicid).val();
		if ( t.length < 1 ) {
			$("#newReplyText"+topicid).css('background-color','#F96');
			$("#newReplyText"+topicid).focus();
			return;
		}
		<? if ( in_array('CREATE_SHEETS', $user_rights) ) {	echo 't2 = $("#abc").val();'; } ?>
		
		$.post("addReply.php",
		{
		  <? if ( in_array('CREATE_SHEETS', $user_rights) ) { echo "abc:t2,"; } ?>
		  
		  id:topicid,
		  text:t,
		  noref:1
		},
		function(data,status){
			$("#newReplyRespond"+topicid).slideToggle("slow");
			$("#newReply"+topicid).slideToggle("slow");
			$("#newReplyRespond"+topicid).text(data);
		});
	  });
  };
  
  <? if (in_array('CREATE_TOPICS', $user_rights) ) { ?>
  function addTopic(){
	var t;
	var t2;
	$(document).ready(function(){
		t = $("#newTopicText").val();
		t2 = $("#t_topic_title").val();
		if ( t.length < 1 ) {
			$("#newTopicText").css('background-color','#F96');
			$("#newTopicText").focus();
			return;
		}
		if ( t2.length < 1 ) {
			$("#t_topic_title").css('background-color','#F96');
			$("#t_topic_title").focus();
			return;
		}
		<? if ( in_array('CREATE_SHEETS', $user_rights) ) {	echo 't3 = $("#abc").val();'; } ?>
		
		$.post("newTopic.php",
		{
		   <? if ( in_array('CREATE_SHEETS', $user_rights) ) { echo "abc:t3,"; } ?>
			
		  t_topic:t,
		  t_topic_title:t2,
		  noref:1
		},
		function(data,status){
			$("#brplace").after(data);
			$("#createNewTopic").show();
			$("#newTopic").hide();
		});
	  });
  };
  <? } ?>
  var start = 10;
  var stopscrol = 0;
  $(window).scroll(function()
	{
		if ( stopscrol == 0 )
		{
			if($(window).scrollTop() == $(document).height() - $(window).height())
			{
				$('div#loadmoreajaxloader').show();
				$.ajax({
				url: "loadtopic.php?start="+start,
				success: function(html)
				{
					if(html)
					{
						$("#postswrapper").append(html);
						$('div#loadmoreajaxloader').hide();
						start = start + 10;
					}else
					{
						stopscrol = 1;
						$("#postswrapper").append('<div style="border:thin;border-style:dashed;align:center;border-right:none;border-left:none;border-bottom:none"><center><?=NO_MORE_POSTS?></center></div>');
						$('div#loadmoreajaxloader').hide();
						//$('div#loadmoreajaxloader').html('<center>No more posts to show.</center>');
					}
				}
				});
			}
		}
	});
	$(document).ready(function() {
		$('a.jt').cluetip({
		  cluetipClass: 'jtip',
		  width: 350,
		  arrows: true,
		  dropShadow: false,
		  hoverIntent: false,
		  sticky: true,
		  mouseOutClose: true,
		  closePosition: 'title',
		  closeText: '<img src="includes/images/cross.png" alt="close" />'
		});
	});

  </script>

			
{% endblock %}	
