{% extends 'layout_dashboard.twig' %}

{% block vars %}
{% endblock %}

{% block default %}


<div class="uk-child-width-1-1 uk-margin-top" uk-grid>
{% if 'CREATE_NEW_USER' in user_rights %}

<div>
	<div class="uk-card uk-card-default uk-card-body">
		<h2 class="uk-card-title">New user</h2>
		<form class="uk-form-stacked" action="{{ current_url }}" method="post" id="myform">

			<div class="uk-margin">
				<label class="uk-form-label" for="user_name">Name</label>
				<div class="uk-form-controls">
					<input class="uk-input" id="user_name" type="text" name="t_name" placeholder="Name" data-validation-length="min{{ config.min_length_username }}">
				</div>
			</div>
			<div class="uk-margin">
				<label class="uk-form-label" for="user_email">Email</label>
				<div class="uk-form-controls">
					<input class="uk-input" id="user_email" type="text" name="t_email" placeholder="Email" data-validation="server" data-validation-url="actions.php?action=validate">
				</div>
			</div>
			<div class="uk-margin">
				<label class="uk-form-label" for="user_pass">Password</label>
				<div class="uk-form-controls">
						<input class="uk-input" id="user_pass" type="text" name="t_pass" placeholder="Password" data-validation-strength="3">
				</div>
				 {{ constant('PANEL_EXAMPLE_PASSWORD') }} <code id="suggestedPassword">{{ exampleCode }}</code> <small><a href="#" id="use-sug-password">Use this password</a></small>
			</div>
			<div class="uk-margin">
				<label class="uk-form-label" for="user_reg_email">Send registration email</label>
				<div class="uk-form-controls">
					<input class="uk-checkbox" id="user_reg_email" type="checkbox" name="t_send_email">
				</div>
			</div>
			<div class="uk-margin">
				<label class="uk-form-label" for="user_lang">Language</label>
				<div class="uk-form-controls">
					<select name="t_lang" class="uk-select" id="user_lang">
					{% for l in langs %}
						<option value="{{ l.lang_id }}">{{ l.lang_name }}</option>
					{% endfor %}
					</select>
				</div>
			</div>
			<div class="uk-margin">
				<label class="uk-form-label" for="user_rights">Rights</label>
				<div class="uk-form-controls">
					<select id='ex_users' size='5' multiple='multiple' class="js-select2 uk-select uk-width-1-1 " style="" name='t_rights[]'>
						{% for r in rights %}
							<option value='{{ r.right_id }}'>{{ r.right_name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="uk-margin">
				<label class="uk-form-label" for="user_groups">Groups</label>
				<div class="uk-form-controls">
					<select id='ex_groups' class="uk-select js-select2 uk-width-1-1"  style="" size='5' multiple='multiple' name='t_group[]'>
						{% for g in groups %}
						<option value='{{ g.group_id }}'>{{ g.group_name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			
			
			<div class="uk-text-right">
				<input type="submit" value="Save" name="new_user" class="uk-button uk-button-primary" />
			</div>
						
		</form>
	</div>
</div>
{% endif %}
	
{% endblock %}		  

{% block footerInjection %}


<script language="javascript">  


	$('#use-sug-password').click(function(e) {
		e.preventDefault();
		$('#user_pass').val($('#suggestedPassword').text());
		$('#user_pass').keyup();
	});

	
	$("#frmNewTopic").submit(function(e){
        e.preventDefault();
		$.ajax({
			url: 'actions.php',
			dataType: 'json',
			method: 'POST',
			data: $('#frmNewTopic').serialize(),
			success: function(respond){
				if ( respond.state == 'ok' ) {
					$("#submitTopic").closest('form').find("input[type=text], textarea").val("");
					toastr["success"]("Successfully posted", "Success");
				} else {
					toastr["error"]("Error", "Error");
				}
			}
		});		  
  
  });
	
</script>
			
{% endblock %}	
